/*RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Components */

/* Site styles */

.banner {
  background: url('../imagenes/agostina1520.jpg') fixed center/cover;
  height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner::before {
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0;
}

.bannerInfo {
  padding: 0.3em;
  position: absolute;
  width: 100%;
  max-width: 700px;
  text-align: right;
  color: white;
  margin: auto;
}

.bannerTitle {
  line-height: 1.5;
  font-size: 2em;
  font-family: sans-serif;
}
.bannerP {
  line-height: 2;
  font-size: 0.9em;
  font-family: sans-serif;
}

/* GALLERY */

.tituloG {
  text-align: center;
  position: relative;
  width: 80%;
  margin: 50px auto;
}

.tituloG::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: black;
  z-index: -1;
}

.galeria {
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.galeria img {
  width: 100%;
  object-fit: fill;
  cursor: pointer;
  transition: 1s;
}

.galeria img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 400px) {
  .tituloG {
    text-decoration: underline;
  }
  .tituloG::before {
    display: none;
  }
}

#img-activa {
  width: 100%;
  height: auto;
}

/*Contenedor Principal del Lightbox*/

#contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
}

/*Contenedor interno del Lightbox*/

#contenedor-interno {
  border: 2px #f3f3f3 solid;
  padding: 2px;
  background: #3f3f3f;
  max-width: 500px;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
}

/*Botones*/

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f3f3f3;
}

#btn-cierra {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
}

#btn-retrocede {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
}

#btn-adelanta {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
}
/* SOBRE MI */
.container1 {
  display: flex;
  border: 2px solid rebeccapurple;
  /* grid-template-columns: 1fr 1fr 1fr; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container1 img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  object-fit: contain;
  object-position: center center;
  width: 40%;
  height: auto;
  border-radius: 10rem;
  justify-self: center;
  margin-top: 2rem;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* CLASES PARA QUE FUNQUE EL MODAL */
.hidden {
  display: none;
}

.modal1 {
  background: red; /* rgba(0, 0, 0, 0.5); */
  /* border-radius: 5px; */
  /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
}

.overlay1 {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%);
  z-index: 5;
}
.popup-class {
  border-radius: 0;
}

.fondoAzul {
  color: aqua;
}

/************************** SECCIÓN PRODUCTOS ************************/
.btn-carrito {
  cursor: pointer;
}

#main {
  position: relative;
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* cards del e-commers */

.caja {
  margin: auto;
  width: 280px;
  background-color: gainsboro;
}

.cajaImg {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.caja--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.caja:hover .caja--img {
  transform: scale(1.5);
}

.caja--datos {
  text-align: center;
  padding: 10px;
}

.caja--datos .nombre {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
}

.caja--datos .precio {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  font-weight: 500;
  background-color: grey;
}

.btn-agregar {
  width: 50%;
  border-radius: 25%;
  height: 40px;
  background-color: red;
}

/* cards de carrito */
.caja--carrito {
  width: 200px;
  text-align: center;
}
.caja-carrito-img {
  width: 250px;
}
.caja-carrito-datos {
  border: 1px solid red;
  color: white;
  font-weight: bold;
}

/* SIDEBAR */
.sidebar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  position: absolute;
  box-shadow: 10px 10 px 15px
    rgba(270deg, #12a4b6 0%, #8ddf6d 37.25%, #941d8e 100%);
  width: 30%;
  visibility: hidden;
  left: 70%;
  top: 10.5%;
  background-color: aqua;
  z-index: 1;
}
.active {
  visibility: visible;
}
